.khan__buy-link {
margin: 0 0 0 48px;
color: #2f80ed;
text-decoration: none;
line-height: 42px;
font-size: 30px;
}

.khan__buy-link:hover {
  animation: link-animation 1s ease-in-out infinite alternate;
}
